*{
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 4px;
    height: 79rem;
    background-color: chartreuse;
    border: 21px solid whitesmoke;
    padding: 2px;
}
.info{
    background-color: rgb(206, 224, 224);
    height: 79rem;
}
.name h2{
    margin-left: 210px;
    font-size: 94px;
    width: 483px;
    margin-top: 50px;
    /* background-color: azure; */
}
.name p {
    margin-left: 210px;
    font-size: 19px;
    width: 483px;
    margin-top: 0px;
    /* background-color: azure; */
}


#name {
    background-color: rgb(9, 92, 92);
    width: 565px;
    margin-left: 181px;
    margin-top: 24px;
    height: 4px;
}


#ed{
    margin-top: 25px;
    margin-left: 37px;
    font-size: 39px;
}

.education {
    /* background-color: bisque; */
    margin-top: 25px;
    margin-left: 37px;
    width: 870px;
    padding: 12px;
}
.section1 h2{
    margin-top: 25px;
    margin-left: 37px;    
}
.section1 h2 a {
    color: rgb(17 14 228 / 82%);
    text-decoration: none;
}
.section1 p {
    margin-top: 18px;
    margin-left: 600px;
    color: rgb(27 59 218);
}

.project h2 {
    margin-top: 25px;
    margin-left: 67px;
    font-size: 29px;
}

.project h4 {
    margin-top: 1px;
    margin-left: 73px;
    font-size: 16px;
    font-weight: bold;
}
.project p {
    margin-top: 25px;
    margin-left: 76px;
    font-size: 17px;
}
.project h1 {
    font-size: 39px;
    margin-top: 25px;
    margin-left: 37px;
    width: 221px;
    
}
.project h3 {
    margin-top: 23px;
    margin-left: 73px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

















.basic{
    background-color: blueviolet;
    height: 79rem;
}
.logo {
    width: 217px;
    height: 215px;
    margin: 43px 115px;
    
    border-radius: 65px;
    padding: 6px;
    
}


.logo img {
    width: 217px;
    height: 215px;
    border-radius: 65px;
}

.contact {
    margin: 12px 70px;
    width: 200px; /* Set a width if you like */
  }
  
  .contact a {
    /* background-color: #eee; Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .contact a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }

  .skills{
   
    margin: 12px 70px;
    width: 200px; 

  }
  .skills h2{
    
    font-size: 26px;
  }
  .skills h3 {
    color: black;
    display: block;
    padding: 12px;
    font-size: 16px;
    /* background-color: aqua; */
    width: 292px;
}
  .skills h3:hover{
    background-color: #ccc; 
  }



.knowledge{
    margin: 12px 70px;
    width: 200px; 
}
.knowledge h2{
    
    font-size: 26px;
  }
  .knowledge h3 {
    color: black;
    display: block;
    padding: 12px;
    font-size: 16px;
    /* background-color: aqua; */
    width: 292px;
}
  .knowledge h3:hover{
    background-color: #ccc; 
  }
  
  
  
